html {
    margin: 0 auto;
}

body {
    background-color: mistyrose;
    font-family: sans-serif;
    color: black;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding: 20px;
    font-family: 'Bungee Inline', cursive;
    font-size: 80px;
    color: black;
}

h2{
    text-align: left;
    padding: 20px;
    font-size: 40px;
    color: black;
}

h3 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

td a {
    color: black;
}

td a:hover {
    color: white;
    text-decoration: none;
}

p a {
    color: black;
}

th{
    color: black;
}

th a {
    color: black;
}

th a:hover {
    color: white;
}

#menu {
    background-color: black;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
}

#sign {
    float: right;
}

nav ul{
    text-decoration: none;
    list-style-type: none;
    padding-inline-start: 15px;
    text-align: center;
}

#menu nav li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 20px;
}

nav li {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: hotpink;
}

.pod {
    position: absolute;
    display: none;
    background: black;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 10px;
    margin-left: -20px;
}

#post:hover .pod {
    display: block;
}

#category:hover .pod {
    display: block;
}

#usr:hover .pod {
    display: block;
}

#log:hover .pod {
    display: block;
    text-align: center;
}

#comment:hover .pod {
    display: block;
}

.col-sm-10 {
    margin-right: 10px;
}

#in {
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

#op {
    padding-left: 10px;
}

#form {
    font-weight: bold;
}

#art {
    width: 100%;
    text-align: left;
    border-radius: 10px;
}

#art p {
    font-size: 20px;
    margin-bottom: 0;
}

#artindex {
    text-align: center;
    border-radius: 10px;
    color: black;
    vertical-align: top;
}

.page-link {
    color: deeppink;
}

.page-link:hover {
    color: black;
}

button {
    background: black;
    margin-bottom: 20px;
    color: white;
}

button a {
    color: white;
}